*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container-fluid{
  padding: 3% 35%;
}
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.navbar-light{
  background: white;
  padding-left: 25px;
  padding-right: 100px;
}
nav ul li{
  color: black;
}
.nav-link{
  text-decoration: none;
  color: black;
  margin-right: 20px;
}
a.active, a.nav-link:hover{
  color: black;
  border-bottom: 3px solid #8E4D9F;
  transition: .5s;
}
.navbar-light .navbar-toggler-icon{
  stroke: black;
}
#navbarDropdown:hover{
  color: #8E4D9F;
  transition: .5s;
}
.dropdown-item:hover{
  color: black;
  border-bottom: 3px solid #8E4D9F;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

/** Navigation ends here **/

/** First Container **/

.first-container{
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  background: #8E4D9F;
  color: white;
  padding-top: 50px;
  padding-bottom: 100px;
}

.inner-content{
  width: 80%;
  margin: auto;
}
.inner-content p{
  font-size: 14px;
}
.coin{
  display: none;
  height: 50%;
  width: 50%;
  margin: 0 auto;
}
.find {
  border-radius: 5px;
  color: black;
  font-size: 14px;
  background: white;
  border: none;
}

.find:hover {
  background: #F9AD5E;
  text-decoration: none;
}
.become {
  border: solid white 1px;
  border-radius: 5px;
  color: white;
  background: none;
  margin-left: 2%;
}

.become:hover {
  background: #F9AD5E;
  text-decoration: none;
  border: none;
}
.investor{
  margin-left: 10%;
}

/** Styling The Second container **/

.second-container{
  width: 80%;
  margin-left: auto;
  margin-right:auto;
  margin-top: 20px;
  background: #FFFFFF;
  border: 1px solid #E7DAEB;
  box-sizing: border-box;
  box-shadow: 0px 10px 10px rgba(196, 196, 196, 0.35);  
  text-align: center;
}
.second-container h2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  font-weight: bold;
}
.second-container img{
  margin-top: 10px;
  margin-bottom: 10px;
}

#bg-image{
  margin-top: -30px;
}
#img1{
  padding-left: 0;
}
#img2{
  display: none;
}

/** Third Container **/
.third-container{
  background: url(../img/Group\ 5010.png);
  padding-top: 40px;
  text-align: center;
  color: white;
}
.third-container h3{
  text-align: center;
  line-height: 1.5;
  font-weight: bold;
  padding-top: 35px;
  padding-bottom: 30px;
}
.vid{
  height: 50%;
  width: 60%;
  margin-bottom: 20px;
}
.first-lorem{
  text-align: justify;
  font-size: 14px;
}
#learn-more{
  margin-top: 20px;
  margin-bottom: 30px;
}
#learn-more:hover{
  background: #8E4D9F;
}
.people{
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20px;
}
.second-lorem{
  width: 60%;
  margin: auto;
}
.demo{
  margin-top: 40px;
  padding-bottom: 50px;
  text-align: center;
}
.demo h4{
  font-weight: bolder;
  line-height: 1.5;
}
#start{
  background: #FCD8B3;
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 55px;
  padding-bottom: 50px;
}
#invest{
  background: #FCD8B3;
  margin-top: 40px;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 55px;
  padding-bottom: 50px;
}
/** Fourth Container **/
.fourth-container{
  padding: 7% 15%;
}
.fourth-container h3{
  padding-bottom: 40px;
  padding-top: 10px;
  text-align: center;
}
.renata-img{
  float: left;
}
#ruma{
  border: 1px solid #F9AD5E;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 4px rgba(25, 54, 75, 0.1);
  border-radius: 4px;
  margin-top: 5%;
  font-size: 14px;
  padding-top: 25px;
}
#renata{
  border: 1px solid #F9AD5E;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 4px rgba(25, 54, 75, 0.1);
  border-radius: 4px;
  font-size: 14px;
  padding-top: 25px;
}
#maryam{
  border: 1px solid #F9AD5E;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 4px rgba(25, 54, 75, 0.1);
  border-radius: 4px;
  margin-top: 5%;
  font-size: 14px;
  padding-top: 25px;
}
#okon{
  border: 1px solid #F9AD5E;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px 4px rgba(25, 54, 75, 0.1);
  border-radius: 4px;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 14px;
  padding-top: 25px;
}
blockquote{
  font-size: 12px;
}
.our-part{
  margin-bottom: -3%;
}
/** Last container**/
.last-container{
  background: #E7DAEB;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  text-align: center;
}
.last-container h3{
  line-height: 1.5;
  font-weight: bolder;
  padding-bottom: 10px;
  font-family: "poppins";
}
.last-container p{
  width: 80%;
  text-align: center;
  margin: auto;
  padding-bottom: 15px;
  font-size: 14px;
  width: 89%;
}
.email{
  background: white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  border-radius: 4px;
  border-color: white;
  height: 36px;
}
.email:focus{
  outline: none;
}
#subsc{
  color: white;
  background: #8E4D9F;
}
/**footer **/
.foot .col ul li{
  font-size: 12px;
}
.foot .col ul li a{
  font-size: 12px;
}

#my-footer{
  background: #8E4D9F;
  padding-bottom: 50px;
}
#piapay{
  color: white;
}
#quick-lines a{
  color: white;
}
#quick-link{
  color: white;
  font-size: 14px;
}
.col h5{
  font-weight: bold;
  font-size: 16px;
}
#quick-links{
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.quick-links{
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.fa-brands{
  color:  white;
}
.col ul li a:hover{
  color: #E7DAEB;
}







/** Media Queries **/
/* for find investor button */
@media only screen and (max-width:374px) and (min-width: 200px) {
  .become{
    margin-top:2%;
    margin-left: -1%;
  }
}

@media only screen and (max-width:374px) and (min-width: 734px) {
  .become{
    margin-top:2%;
    margin-left: -1%;
  }
}

@media only screen and (max-width:859px) and (min-width: 734px) {
  .become{
    margin-top:2%;
  }
}

/** Media Queries for First Container **/
@media (min-width: 600px) {
  .coin{
    float: right;
    display: unset;
  }
  .first-container .about-us,.descrip{
    text-align: left;
    line-height: 1.5;
  }
  .investor{
    margin: 30px auto;
    text-align: left;
    width: 80%;
  }
  .descrip{
    width: 50%;
    font-weight: 500;
  }
  /** Second container**/
  #bg-image{
    text-align: center;
  }
  /** fourth container **/
  .fourth-container{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  #renata{
    width: 45%;
    height: 201px;
    padding-top: 3%;
  }

  #ruma{
    width: 45%;
    margin-left: 30px;
    height: 201px;
    position: relative;
    bottom: 40px;
    padding-top: 3%;
  }
  #maryam{
    width: 45%;
    height: 201px;
    margin-top: -2%;
    padding-top: 3%;
  }
  #okon{
    margin-top: 3%;
    width: 45%;
    margin-left: 30px;
    height: 201px;
    position: relative;
    bottom: 40px;
    padding-top: 3%;
  }
}




@media (min-width: 950px) {
  /* Nav */

  /* nav ends here */
  .coin{
    height: 70%;
    width: 70%;
    float: right;
    margin-right: 10%;
  }
  .descrip{
    width: 50%;
    font-weight: 500;
  }
  
  .imgc{
    position: relative;
    float: right;
    left: 50px;
    bottom: 80px;
  }
  .investor{
    margin: 30px auto;
    text-align: left;
    width: 80%;
  }
  /** Second Container **/
  .row{
    padding-top: 40px;
    padding-bottom: 60px; 
  }
  .second-container h2{
    padding-top: 80px;
  }
  .coin2{
    display: unset;
  }
  #img2{
    display: unset;
  }
  /** Third container **/
  .third-container{
    padding-bottom: 60px;
    margin-top: -12%;
  }
  .vid{
    float: left;
    width: 35%; 
    margin-left: 10%;
    margin-right: 5%;
  }
  .first-lorem{
    margin-right: 10%;
    padding-top: 50px;
  }
  .people{
    margin-top: 5%;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 10px;
  }
  #learn-more{
    margin-right: 10%;
  }
  .demo{
    text-align: center;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: auto;
    margin-top: 40px;
  }
  #start{
    margin:auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  #invest{
    margin:auto;
    padding-left: 80px;
    padding-right: 80px;
  }
  /** fourth container **/
  .fourth-container{
    text-align: center;
    padding-left: 10%;
    padding-right: 5%;
  }
  #renata{
    width: 45%;
    height: 201px;
    padding-top: 3%;
  }

  #ruma{
    width: 45%;
    margin-left: 30px;
    height: 201px;
    position: relative;
    bottom: 53px;
    padding-top: 3%;
  }
  #maryam{
    width: 45%;
    height: 201px;
    margin-top: -2%;
    padding-top: 3%;
  }
  #okon{
    margin-top: 3%;
    width: 45%;
    margin-left: 30px;
    height: 201px;
    position: relative;
    bottom: 53px;
    padding-top: 3%;
  }
  .our-part{
    margin-top: -6%;
    margin-bottom: 2%;
  }
  .partners{
    padding: 0 10%;
  }
  /**lasy container**/
  #subsc{
    width: 10%;
  }
  .email{
    width:30%;
  }
  .last-container p{
    width: 50%;
    padding-bottom: 20px;
  }
  /*footer*/


.fa-brands{
  padding-right: 5px;
}
.col{
  padding-left: 5%;
}
}










.social{
  height: 50px;
  width: 50px; 
}